<table  cellpadding="0" cellspacing="0" style="width: 98%; margin-top: -24px; margin-left: 26px;">
    <tr>
        <td style="width: 48px;">
            <div style="background-image: url(./Content/Images/main-left-up.png); height: 25px; width: 48px;"></div>
        </td>
        <td>
            <table cellspacing="0" cellpadding="0" style="width: 100%; height: 25px; background-color: black; border-radius: 0 5px 0 0;">
                <tr>
                    <td>
                        <div style="width: 100%; background-color: gray; margin-top: 3px; height: 22px; border-right: 3px solid black; margin-left: -3px;"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="border-right: 3px solid black; border-left: 3px solid black; border-bottom: 3px solid black;background-color: gray; border-radius: 0 0 5px 5px;">
                <table cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tr>
                        <td>
                            <div class="headerCategory">
                                <table cellpadding="0" cellspacing="0" class="containerCategory">
                                    <tr>
                                        <td>
                                            <div id="categoryName" style="width: 941px; height: 50px; list-style: none;"></div>
                                            <div style="height: 5px; width: 940px; background-color: #7AA5CE"></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="test" style="width: 960px;"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>