<table cellpadding="0" cellspacing="0" style="width: 98%; margin-top: -24px; margin-left: 26px;">
    <tr>
        <td style="width: 48px;">
            <div style="background-image: url(./Content/Images/main-left-up.png); height: 25px; width: 48px;">
            </div>
        </td>
        <td>
            <table cellspacing="0" cellpadding="0" style="width: 100%; height: 25px; background-color: black; border-radius: 0 5px 0 0;">
                <tr>
                    <td>
                        <div style="width: 100%; background-color: gray; margin-top: 3px; height: 22px; border-right: 3px solid black; margin-left: -3px;">
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="border-right: 3px solid black; border-left: 3px solid black; border-bottom: 3px solid black; background-color: gray; border-radius: 0 0 5px 5px;">

                <div class="breadcrumb clr">
                    <div class="first item">
                        Home
                    </div>
                    <div class="current item">
                        Metal Gear Solid: The Unofficial Internet Shop
                    </div>
                </div>
                <p></p>

                <table cellpadding="0" cellspacing="0" style="width: 100%; padding-bottom: 5px;">
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" style="width: 100%; padding-left: 30px; padding-right: 30px;">
                                <tr>
                                    <td style="vertical-align: top;">
                                        <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                            <tr>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0" class="mainDiv">
                                                        <tr>
                                                            <td>
                                                                <div class="mainPostHighLight">
                                                                    <a href="http://www.google.com">Metal Gear Solid: The Legacy Collection Revealed</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="mainPostInnerDiv">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                <span class="posting-date">Posted on <b>18 April 2013</b> </span>
                                                                            </td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <a href="http://www.google.com">
                                                                                    <img src="./Content/Images/MGS_LCollection.png" class="mainPostImage" />
                                                                                </a>
                                                                            </td>
                                                                            <td style="vertical-align: text-top">
                                                                                <div style="margin-top: 10px">
                                                                                    <span>April 17 was marked by the reveal of a new MGS title coming for the PlayStation
                                                                                        3 console on the Korean Game Rating Board.</span>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table cellpadding="0" cellspacing="0" style="margin-bottom: 9px">
                                                        <tr>
                                                            <td>
                                                                <div class="mainPostInnerDiv" style="width: 474px; height: 238px;">
                                                                    <div id="postSlider0">
                                                                        <a href="http://www.google.com">
                                                                            <img src="./Content/Images/mgs4-database.jpg" class="cycleImage" /></a>
                                                                        <a href="http://www.google.com">
                                                                            <img src="./Content/Images/hideo-kojima-47.jpg" class="cycleImage" /></a>
                                                                        <a href="http://www.google.com">
                                                                            <img src="./Content/Images/hideo-kojima-productions-roadmap-2010-banner.jpg"
                                                                                class="cycleImage" /></a>
                                                                    </div>
                                                                    <script type="text/javascript">
                                                                        $('#postSlider0').cycle({ fx: 'fade', speed: 2000, timeout: 2000 });
                                                                    </script>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div style="margin-left: 5px">
                                                                    <table cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td>
                                                                                <a href="http://www.google.com">
                                                                                    <img src="./Content/Images/mgs4-database-thumb.jpg" class="mainPostEnumImage" />
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <a href="http://www.google.com">
                                                                                    <img src="./Content/Images/hideo-kojima-47-thumb.jpg" class="mainPostEnumImage" />
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <a href="http://www.google.com">
                                                                                    <img src="./Content/Images/hideo-kojima-productions-roadmap-2010-thumb.jpg" class="mainPostEnumImage" />
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0" class="mainDiv">
                                                        <tr>
                                                            <td>
                                                                <p style="font-size: 12px; line-height: 17px; padding: 8px;">
                                                                    Welcome to <b>Metal Gear Solid: The Unofficial Site</b>! Our goal is to provide
                                                                    you with the most up to date news, media, and content regarding the Metal Gear universe
                                                                    and related Kojima Productions topics. Visit often to see what's new and exciting
                                                                    or to brush up on legacy Metal Gear content. <b>Be sure to check out our large backlog
                                                                        of Metal Gear <a href="http://www.google.com">featured articles</a> and the comprehensive
                                                                        <a href="http://www.google.com">database</a></b>!
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0" class="mainDiv">
                                                        <tr>
                                                            <td>
                                                                <div class="mainPostHighLight">
                                                                    <a href="http://www.google.com">Metal Gear Rising: Revengeance Released in North America</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="mainPostInnerDiv">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                <span class="posting-date">Posted on <b>19 February 2013</b> </span>
                                                                            </td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <a href="http://www.google.com">
                                                                                    <img src="./Content/Images/ps3mtgrizing.jpg" class="mainPostImage" />
                                                                                </a>
                                                                            </td>
                                                                            <td style="vertical-align: text-top">
                                                                                <div style="margin-top: 10px">
                                                                                    <span>Metal Gear Rising: Revengeance is slicing into retailers today in North America.
                                                                                        Grab your copy today!</span>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0" class="mainDiv">
                                                        <tr>
                                                            <td>
                                                                <div class="mainPostHighLight">
                                                                    <a href="http://www.google.com">Konami Launches Metal Gear Art Studio and Contest</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="mainPostInnerDiv">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                <span class="posting-date">Posted on <b>18 February 2013</b> </span>
                                                                            </td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <a href="http://www.google.com">
                                                                                    <img src="./Content/Images/mtgArtStudio.png" class="mainPostImage" />
                                                                                </a>
                                                                            </td>
                                                                            <td style="vertical-align: text-top">
                                                                                <div style="margin-top: 10px">
                                                                                    <span>Konami has just launched Metal Gear Art Studio, a website where fans can post their Metal Gear fan art as well as participate in contests drawing series characters. The first contest focuses on Raiden and runs from February 18 to the 24, and will be followed in turn by "Mechs and Vehicles," "Snake," "Female Characters," and "Male Characters" contests.	</span>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width: 350px; vertical-align: top;">
                                        <table cellpadding="0" cellspacing="0" style="padding-left: 5px;">
                                            <tr>
                                                <td>
                                                    <div style="padding-left: 5px; padding-right: 5px;">
                                                        <table cellpadding="0" cellspacing="0" class="mainDiv">
                                                            <tr>
                                                                <td>
                                                                    <div class="mainPostHighLight">
                                                                        <span style="font-size: 22px; color: #444c4d;">Last Screenshot</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="mainPostInnerDiv" style="width: 341px; height: 256px; padding-left: 0px;">
                                                                        <div id="sliderScreenshots">
                                                                            <img src="./Content/Images/Screenshots/01.jpg" class="cycleImage" />
                                                                            <img src="./Content/Images/Screenshots/02.jpg" class="cycleImage" />
                                                                            <img src="./Content/Images/Screenshots/03.jpg" class="cycleImage" />
                                                                            <img src="./Content/Images/Screenshots/04.jpg" class="cycleImage" />
                                                                            <img src="./Content/Images/Screenshots/05.jpg" class="cycleImage" />
                                                                            <img src="./Content/Images/Screenshots/06.jpg" class="cycleImage" />
                                                                            <img src="./Content/Images/Screenshots/07.jpg" class="cycleImage" />
                                                                            <img src="./Content/Images/Screenshots/08.jpg" class="cycleImage" />
                                                                            <img src="./Content/Images/Screenshots/09.jpg" class="cycleImage" />
                                                                            <img src="./Content/Images/Screenshots/10.jpg" class="cycleImage" />
                                                                            <img src="./Content/Images/Screenshots/11.jpg" class="cycleImage" />
                                                                        </div>
                                                                        <script>
                                                                            $('#sliderScreenshots').cycle({ fx: 'fade', speed: 1500, timeout: 2000 });
                                                                        </script>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div style="padding-left: 5px; padding-right: 5px;">
                                                        <table cellpadding="0" cellspacing="0" class="mainDiv">
                                                            <tr>
                                                                <td>
                                                                    <div class="mainPostHighLight">
                                                                        <span style="font-size: 22px; color: #444c4d;">Get Connected and Share</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                <a href="https://twitter.com/share" class="twitter-share-button" data-text="look forsite"
                                                                                    data-dnt="true">Tweet</a>
                                                                                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                                                                            </td>
                                                                            <td>
                                                                                <div style="margin-top: 10px;">
                                                                                    <a href="http://mgst.us/fb">
                                                                                        <img alt="Fan Metal Gear Solid - The Unofficial Site on Facebook" src="./Content/Images/buttons/button-facebook.png" class="no-border no-left-margin no-right-margin no-bottom-margin"></a> <a href="http://mgst.us/twitter">
                                                                                        <img alt="Follow Metal Gear Solid - The Unofficial Site on Twitter" src="./Content/Images/buttons/button-twitter.png"class="no-border no-right-margin no-bottom-margin"></a> <a href="http://mgst.us/yt">
                                                                                        <img alt="Watch Metal Gear Solid: The Unofficial Site on YouTube" src="./Content/Images/buttons/button-youtube.png" class="no-border no-right-margin no-bottom-margin"></a>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <p></p>
                                                                    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexample.com%2Fpage%2Fto%2Flike&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;colorscheme=light&amp;action=like&amp;height=35"
                                                                        scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 350px; height: 40px;"
                                                                        allowtransparency="true"></iframe>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                        <p></p>
                                                        <a class="twitter-timeline" href="https://twitter.com/s_kiira" data-widget-id="336283302849814528">Твиты пользователя @s_kiira</a>
                                                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="breadcrumb clr">
                    <div class="first item">
                        Home
                    </div>
                    <div class="current item">
                        Metal Gear Solid: The Unofficial Internet Shop
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
