body
{
}

@font-face
{
    font-family: "MetalGear";
    src: url(./../Content/Fonts/METAG.TTF) format("truetype");
}

.Container
{
    height: 240px;
    border: 2px solid black;
    background-color: white;
    background-image: url(./../Content/Images/LoginBg.jpg);
    background-repeat: no-repeat;
    background-size: 36%;
    background-position-x: 405px;
    background-position-y: -2px;
}

.LoginBg
{
    margin-left: 10px;
    margin-top: 130px;
}

    .LoginBg .Txt
    {
        margin-left: 10px;
        font-family: MetalGear;
        font-size: 10pt;
    }

    .LoginBg .Input
    {
        width: 200px;
        height: 25px;
        outline: none;
        border: none;
        padding-left: 5px;
        background-color: black;
        color: white;
    }

.TextAlign 
{
    text-align: left;    
}

.RegisterBg
{
    margin-left: 10px;
    margin-top: 83px;
}

    .RegisterBg .Txt
    {
        margin-left: 10px;
        font-family: MetalGear;
        font-size: 10pt;
    }

    .RegisterBg .Input
    {
        width: 200px;
        height: 25px;
        outline: none;
        border: none;
        padding-left: 5px;
        background-color: black;
        color: white;
    }

    .RegisterBg .TxtContainer
    {
        margin-top: 3px;
        text-align: left;
    }

.SearchInput
{
    width: 290px;
    margin-left: 5px;
    border: 2px solid black;
    background-image: url(./../Content/Images/search-bg2.png);
    outline: none;
    height: 19px;
    margin-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}

.EnterBttnTable
{
    margin-right: 15px;
    margin-top: -16px;
    float: right;
}

.NameInHeader
{
    margin-right: 15px;
    margin-top: 5px;
    float: right;
    line-height: 21px;
}

.LogOutBttn
{
    background-color: white;
    margin-left: 8px;
    width: 50px;
    height: 40px;
    margin-top: -20px;
    line-height: 0px;
    text-align: center;
    cursor: pointer;
}

    .LogOutBttn .Span
    {
        font-family: MetalGear;
        vertical-align: -15px;
        margin-left: -1px;
    }

.BuyGameBttn
{
    background-color: white;
    margin-left: 8px;
    width: 70px;
    height: 40px;
    line-height: 0px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

    .BuyGameBttn .Span
    {
        font-family: MetalGear;
        vertical-align: -15px;
        margin-left: -1px;
    }

.BasketBttn
{
    background-color: white;
    margin-left: 8px;
    width: 87px;
    height: 40px;
    margin-top: -20px;
    line-height: 0px;
    text-align: center;
    cursor: pointer;
}

    .BasketBttn .Span
    {
        font-family: MetalGear;
        vertical-align: -22px;
        margin-left: -1px;
    }

.WelcomeBack
{
    font-family: MetalGear;
    color: white;
    text-align: right;
    float: right;
}


.MainBg
{
    background-image: url(./../Content/Images/bg-camo.jpg);
}

.BgYl
{
    background-image: url(./../Content/Images/right-bg-bttn-yl.png);
}

.BgWhite
{
    background-image: url(./../Content/Images/right-bg-bttn.png);
}

.contentHihglight
{
    width: 100%;
    background-image: url(./../Content/Images/bg-content-highlight.gif);
}

.mainPostTable
{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mainDiv
{
    width: 100%;
    background-image: url(./../Content/Images/bg-content.gif);
    padding: 5px;
    margin-bottom: 9px;
}

.mainPostHighLight
{
    background-image: url(./../Content/Images/bg-content-highlight.gif);
    padding: 5px;
    font-size: 22pt;
}

.mainPostInnerDiv
{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.mainPostImage
{
    border: 3px solid #B6C1C3;
    margin: 6px 10px 6px 8px;
}

.cycleImage
{
    border: 3px solid #B6C1C3;
    margin: 0px;
}

.mainPostEnumImage
{
    border: 2px solid #B6C1C3;
    margin: 0px 0px 0px 2px;
}

.posting-date
{
    color: #646464;
}

a:link
{
    color: #444c4d;
    text-decoration: none;
}

a:visited
{
    color: #444c4d;
    text-decoration: none;
}

.clr
{
    clear: both;
}

.breadcrumb
{
    background-color: #DDDDDD;
    margin-left: 30px;
    margin-right: 34px;
    line-height: 28px;
    height: 28px;
    margin-bottom: 9px;
    overflow: hidden;
}

    .breadcrumb .item
    {
        background-image: url(./../Content/Images/breadcom/bg-breadcrumb.gif);
        background-position: left top;
        background-repeat: no-repeat;
        float: left;
        height: 28px;
        padding-left: 25px;
        padding-right: 6px;
        word-wrap: break-word;
    }

    .breadcrumb .extra
    {
        float: right;
        padding-right: 9px;
        color: #646464;
        height: 28px;
        line-height: 28px;
    }

    .breadcrumb .first
    {
        background-position: -18px top;
        padding-left: 10px;
    }

    .breadcrumb .current
    {
        background-image: url(./../Content/Images/breadcom/bg-breadcrumb-current.gif);
        background-position: left top;
        margin-left: -1px;
    }

.RegisterContainer 
{
     width: 80%; margin: 0 auto;
}

    .RegisterContainer .OkButtonContainer 
    {
        margin-left: 10px; height: 76px; margin-top: 19px;
    }

    .RegisterContainer .OkButtonLeft 
    {
        width: 40px; height: 47px; line-height: 50px; cursor: pointer; background-color: black
    }

        .RegisterContainer .OkButtonLeft .Txt 
        {
            margin-left: 9px; font-family: MetalGear; color: white;
        }

    .RegisterContainer .OkButtonRight 
    {
        height: 47px; width: 24px;background-image: url(./../Content/Images/right-bg-bttn2.png)
    }

    .RegisterContainer .CancelButtonContainer 
    {
        margin-bottom: 1px; margin-left: -17px; margin-top: 19px;    
    }

        .RegisterContainer .CancelButtonContainer .Left 
        {
            background-image: url(./../Content/Images/left-bg-bttn2.png); height: 47px; width: 25px;
        }

        .RegisterContainer .CancelButtonContainer .Center 
        {
            background-color: black; height: 47px;width: 105px; line-height: 50px; cursor: pointer;
        }

            .RegisterContainer .CancelButtonContainer .Center .Txt 
            {
                margin-left: 6px; font-family: MetalGear; color: white;
            }

        .RegisterContainer .CancelButtonContainer .Right 
        {
            background-image: url(./../Content/Images/right-bg-bttn2.png); height: 47px; width: 24px;
        }

    .RegisterContainer .ErrorMessage 
    {
        display: none; position: relative;bottom: 212px; left: 10px;
    }

        .RegisterContainer .ErrorMessage .Txt 
        {
            font-family: MetalGear; color: red; font-size: 17pt;
        }

.LoginBg .OkButtonContainer 
{
    margin-left: 10px; height: 76px; margin-top: 19px;
}

    .LoginBg .OkButtonContainer .Center 
    {
        width: 40px; height: 47px; line-height: 50px; cursor: pointer; background-color: black
    }

        .LoginBg .OkButtonContainer .Center .Txt 
        {
            margin-left: 9px; font-family: MetalGear; color: white;
        }

    .LoginBg .OkButtonContainer .Right 
    {
        height: 47px; width: 24px;background-image: url(./../Content/Images/right-bg-bttn2.png)
    }

.LoginBg .RegisterButton 
{
    margin-bottom: 1px; margin-left: -17px; margin-top: 19px;
}

    .LoginBg .RegisterButton .Left 
    {
        background-image: url(./../Content/Images/left-bg-bttn2.png); height: 47px; width: 25px;
    }

.AdminPageBg 
{
    background-color: gray;    
}

    .AdminPageBg .AddingGameContainer 
    {
        background-color: white; border: 2px solid black; border-radius: 4px; padding: 10px;text-align: right;
    }

    .AdminPageBg .LabelBox 
    {
        width: 120px; padding-right: 10px
    }

.DescriptionBox 
{
    width: 250px;height: 70px; resize: vertical;margin-left: 2px;margin-top: 2px;max-height: 170px;
}

.AddGameFieldSet 
{
    width: 410px;max-height: 340px;
}

.vertAlignTop 
{
    vertical-align: top;
}

    .AdminPageBg .ListContainer 
    {
        background-color: white; border: 2px solid black; border-radius: 4px; padding: 10px;margin-top: 10px;
    }

    .AdminPageBg .UsersContainer 
    {
        background-color: white; border: 2px solid black; border-radius: 4px; padding: 10px;margin-left: 10px;
    }

.GamesList
{
   font-size:11px;
   font-family:Verdana,sans-serif;
   font-weight:bold;
   color:#888888;
   width:100px;
   background-color:#EEEEEE;
   border-style:solid;
   border-color:#BBBBBB;
   border-width:1px;
   text-align: center;
   cursor: pointer;
}

.UsersList
{
   font-size:11px;
   font-family:Verdana,sans-serif;
   font-weight:bold;
   color:#888888;
   width:100px;
   background-color:#EEEEEE;
   border-style:solid;
   border-color:#BBBBBB;
   border-width:1px;
   text-align: center;
   margin-left: 5px;
   cursor: pointer;
}

.GameItem {padding-left: 30px; padding-right: 30px; padding-bottom: 10px; float: left}
.itemConteiner {overflow: hidden;position: relative; height: 100%!important}
.item2{ float: left;width: 300px;background-size: 100%;margin: 10px;background-repeat: no-repeat;overflow: hidden;text-align: center;background-color: white;}
.gigante{ float: left;width: 600px;height: 600px;background-size: 100%;margin: 10px;}
.gameTextContainer{ text-align: center;width: 100%;background-color: aliceblue;position: absolute;bottom: 0;}
.gameTextContainer .span{ vertical-align: -webkit-baseline-middle;}
.gameTextProp { height: 35px;opacity: 0.6; z-index: 1}
.gameTextPropOver { height: 35px;opacity: 0.9; z-index: 1}
.gameExplCont { background-color: aliceblue; }
.buyButtonGame { height: 15px;min-width: 150px;padding: 4px;font-size: 11px;border-radius: 2px;border: 1px solid #2D53AF;cursor: pointer;color: white;font-weight: bold;text-align: center;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);text-transform: uppercase;box-shadow: 0 2px 0 0 rgba(255, 255, 255, .06) inset, 0 2px 3px 0 rgba(0, 0, 0, .2);outline: 0px;position: relative;bottom: -4px;background: #4D7BD6;display: inline-block;z-index: 1;}
.descriptProp { display: block;margin-top: 30px;overflow: hidden;border-bottom: 1px solid black;}